body {

    background: white;
    margin:0;

}

.link-title {
    
    text-decoration: none;
    font-size: 24px;
    color:#444444;


}

.page-heading {

    text-align: center;
    margin-bottom: 20px;
}



.container {
    width:880px;
    margin: auto auto 10px;
    background: ivory;
    box-shadow: 0px 9px 13px 5px black;

}


#header {
    background:#333 no-repeat 3px 50%;
    box-shadow:0 0 8px rgba(0,0,0,0.5);
    font-family:'Helvetica Neue Light',HelveticaNeue-Light,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size:18px;
    height:50px;
    overflow: auto;
    width:880px;
    position: fixed;
   }
   #header.new {
    background-image:none;
   }
   
   #header ul {
    list-style:none;
    float:right;
    margin:5px;
    padding:0;
   }
   #header ul li {
    float:left;
    margin:0;
   }
   #header a {
    color:rgb(196, 194, 194);
    text-decoration:none;
    display: block;
    padding:0 20px 0 8px;
    border:0;
    line-height:35px;
    transition:color 0.2s linear;
    -moz-transition:color 0.2s linear;
    -webkit-transition:color 0.2s linear;
    -o-transition:color 0.2s linear;
   }
   #header ul li a:hover {
    color:#fff;
    text-decoration:underline;
    background-color: #6e6e6c;
   }
   #header a:active {
    color:#fff;
    background-color: gray;
   }
   
   



aside {

    float: left;
    width: 120px;
    padding: 30px 0 0 40px;

}

h1 {

    margin: 0px;
    color:#3b7687;
    font-size: 24px;
    font-family: "Arial Narrow", "Myriad Pro";
    font-weight: normal;
    margin-top: 40px;
}

h2 {

    color:#3b7687;
    font-size: 25px;
    margin: 20px 1px 5px 1px;
    
}

.lside{
    color: #444444;
    font-family: "Georgia";
    font-size: 13px; 
    line-height: 18px;
    margin-top: 20px;
}

.main {

    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0;
    color: #444444;
    font-family: "Georgia";
    font-size: 13px; 
    line-height: 18px;

}

.main a:hover {

    color: #444444;

}

#home-image img {
    
    width: 50%;
    margin-top: 40px;
}

footer {

    padding: 6px 40px 6px 40px;
    background: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    color: #444444;
    font-size: 11px;
    text-decoration: right;
    clear: both;
    
}

footer font {
    color: black;
    

}

.separator {
    
    color:#FFFFFF;
    font-size: 10px;


}


/****************About Page Styles *****************/


#about-page #home-image img {
    
    width: 50%;
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

#about-page #profile-info {

    float: right;
    margin-top: 40px;

}

#about-page .description {

    clear: both;


}


/***************Contact Page ********************/

#contact #form {
    
    width: 500px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 0px 2px 3px 2px;
}



#contact #form input {

    width: 100%;
    height: 20px;
    background: #f0f0ee;

}

#contact #form #message {
    width: 100%;
    background: #f0f0ee;

}

#contact #form #submit {
    height: 30px;
    border-radius: 5px;
    background: #333;
    box-shadow: 0px 0px 0px 0px;
    color: #FFFFFF;
}














